<launch>
  
  <arg name="namespace" default="firefly"/>

  <group ns="$(arg namespace)">
    <node name="waypoint_navigator_node" pkg="waypoint_navigator" type="waypoint_navigator_node"  respawn="true" clear_params="true" output="screen">
      <rosparam file="$(find waypoint_navigator)/paths/trajectory_simple_enu.yaml"/>
      <param name="mav_name" type="string" value="$(arg namespace)" />
      <param name="frame_id" type="string" value="world" />
      <!-- Real -->
      <!-- remap from="odometry" to="msf_core/odometry" / -->
      <!-- Simulation -->
      <remap from="odometry" to="ground_truth/odometry" />
    </node>

    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen" />
  </group>
  
</launch>
